name: 'CI: Publish a release'

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: 'Publish a release'
    if: github.event.repository.fork == false
    runs-on: macOS-latest

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.1

      - uses: ./.github/actions/setup
        with:
          gradle-cache-disabled: true

      - name: 'Publish to MavenCentral'
        run: ./gradlew publishAndReleaseToMavenCentral -Pversion=${{ github.ref_name }}
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}
