name: "Update the documentation website artifact"

on: [ workflow_call ]

jobs:
  update:
    if: github.event.repository.fork == false

    runs-on: ubuntu-latest

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.1

      - uses: ./.github/actions/setup
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: "Update the documentation website ('dev' version)"
        run: ./gradlew documentationWebsiteUpdate

      - name: 'Package the artifact for GitHub Pages'
        # https://github.com/actions/upload-pages-artifact/releases
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: documentation/website/distribution
