name: 'Validate the build'

on:
  workflow_call

jobs:
  validate-primary:
    name: 'On primary'
    runs-on: ubuntu-latest

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: 'Check ABI compatibility'
        run: ./gradlew checkLegacyAbi

      - name: 'Workaround: Upgrade JS package lock files'
        run: ./gradlew kotlinUpgradePackageLock kotlinWasmUpgradePackageLock

      - name: 'Run component tests'
        run: ./gradlew componentTestsAllTargets

      - name: 'Run integration tests'
        run: ./gradlew integrationTests

      - name: 'Upload build reports'
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-reports-${{ runner.os }}-${{ github.action }}-${{ github.run_id }}
          path: |
            **/build/reports/
          if-no-files-found: ignore

  validate-secondary:
    name: 'On secondary'
    needs: [ validate-primary ]
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: 'Check ABI compatibility'
        run: ./gradlew checkLegacyAbi

      - name: 'Workaround: Upgrade JS package lock files'
        run: ./gradlew kotlinUpgradePackageLock kotlinWasmUpgradePackageLock

      - name: 'Run component tests'
        run: ./gradlew componentTestsAllTargets

      - name: 'Run integration tests'
        if: runner.os != 'Windows'
        run: ./gradlew integrationTests
        env:
          TEST_SKIP: 'secondary'

      - name: 'Run integration tests, skip non-ASCII patterns'
        if: runner.os == 'Windows'
        run: ./gradlew integrationTests
        env:
          TEST_SKIP: 'secondary, non-ASCII patterns'

      - name: 'Upload build reports'
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-reports-${{ runner.os }}-${{ github.action }}-${{ github.run_id }}
          path: |
            **/build/reports/
          if-no-files-found: ignore
