name: 'Validate the build'

on:
  workflow_call

jobs:
  validate-primary:
    name: 'On primary'
    runs-on: ubuntu-latest

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.1
        with:
          sparse-checkout-cone-mode: 'false'
          sparse-checkout: |
            /*
            !documentation/website/distribution

      - uses: ./.github/actions/setup
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: 'Check ABI compatibility'
        run: ./gradlew checkKotlinAbi

      - name: 'Run component tests'
        run: ./gradlew componentTestsAllTargets

      - name: 'Run integration tests'
        run: ./gradlew integrationTests

      - name: 'Upload build reports'
        if: failure()
        # https://github.com/actions/upload-artifact/releases
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build-reports-${{ runner.os }}-${{ github.action }}-${{ github.run_id }}
          path: |
            **/build/reports/
          if-no-files-found: ignore

  validate-secondary:
    name: 'On secondary'
    needs: [ validate-primary ]
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: 'Check out the project'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.1
        with:
          sparse-checkout-cone-mode: 'false'
          sparse-checkout: |
            /*
            !documentation/website/distribution

      - uses: ./.github/actions/setup
        with:
          gradle-cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - name: 'Check ABI compatibility'
        run: ./gradlew checkKotlinAbi

      - name: 'Run component tests'
        run: ./gradlew componentTestsAllTargets

      - name: 'Run integration tests'
        if: runner.os != 'Windows'
        run: ./gradlew integrationTests
        env:
          TEST_SKIP: 'secondary'

      - name: 'Run integration tests, skip non-ASCII patterns'
        if: runner.os == 'Windows'
        run: ./gradlew integrationTests
        env:
          TEST_SKIP: 'secondary, non-ASCII patterns'

      - name: 'Upload build reports'
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build-reports-${{ runner.os }}-${{ github.action }}-${{ github.run_id }}
          path: |
            **/build/reports/
          if-no-files-found: ignore
